header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    border-bottom: 1px #dddddd solid;
    background-color: white;
}

.header-left-side {
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-right: 24px;
}

.header-middle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;

}

.search-textinput {
    flex: 1;
    border: 1px solid #383e42;
    border-radius: 2px;
    padding-left: 12px;
    font-size: 20px;
    height: 34px;
    box-shadow: inset 1px 2px 3px #ececec;
    max-width: 500px;
    width: 0;

}

.search-icon-button {
    background-color: rgb(245, 245, 245);
    border: 1px solid #383e42;
    border-radius: 2px;
    border-left: 1px solid #383e42;
    width: 65px;
    margin-left: -1px;
    height: 38px;
}

.search-icon-button:hover {
    background-color: #e9e9e9;
}

.search-icon-button:active {
    background-color: #d2d2d2;
}

.header-right-side {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.nav-button {
    padding: 12px;
    margin-right: 6px;
    border: none;
    border-radius: 2px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    color: #0c0c0c;
    font-family: "generalFont", sans-serif;
    text-decoration: none;
}

@media (max-width: 768px) {
    .recipe-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .recipe-card {
        width: calc(100% - 20px);
    }
}